@import '../../../utils/Mixins';

.it-image-block-admin-wrap {
  .it-image-block-content {
    max-width: 550px;
    margin: auto;
    position: relative;
    margin-bottom: 15px;
    .it-image-block-item {
      box-shadow: 0 0 20px rgba(0,0,0,0.5);
      width: 100%;
      margin: auto auto 10px auto;
      height: 70%;
    }
    .it-image-block-buttons-wrap {
      display: flex;
      justify-content: space-around;
      margin-bottom: 30px;
      .it-image-block-button {
        @include buttonStyle(40px, 150px);
      }
    }
    .it-image-block-admin-textarea {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
