@import '../../utils/Mixins';

.it-admin-page-wrap {
  .it-admin-page-add-image-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 550px;
    margin: auto;
    .it-admin-page-buttons-wrap {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .it-admin-page-button-add-image {
      @include buttonStyle(40px, 150px);
      margin-bottom: 15px;
    }
    .it-admin-page-new-image {
      width: 100%;
      margin-bottom: 15px;
    }
    .it-admin-page-textarea {
      width: 99%;
      margin-bottom: 15px;
    }
  }
}

.invisible {
  visibility: hidden !important;
}