@import '../../../utils/Mixins';

.it-tooltip-wrap {
  position: absolute;
  z-index: 1;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  background-color: whitesmoke;
  border: 1px solid black;
  text-align: justify;
  .it-tooltip-content {
    font-size: 14px;
    .it-tooltip-text {
      word-break: break-word;
    }
    .it-tooltip-buttons-wrap {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 5px;
      .button {
        @include buttonStyle(30px, 48%);
      }
    }
  }
}